/* styles.css */
@font-face {
    font-family: autumfont;
    src: url('fonts/Sweet\ Autumn.ttf') ; 
    font-weight: normal;
    font-style: normal;
    
}

body {
    background-color: white;
    background-size: 300px 100px;
    font-family: autumfont;
    font-size: 25px;
    text-align: center;
    
}

.navbar-custom {
    background-color: #A39E66;
    /*border-bottom: 2px solid #3D3B26;*/
}

.logo {
    display: block;
    margin: auto;
}


 p {
    color: #ffffff;
    font-family: autumfont ;
    font-size: 40px ;
}

h1 {
    
    font-family: autumfont ;
    font-size: 70px;
}


.btn {
    background-color: #8ACA2B;
    display: inline-block; 
    border: 2px solid white; 
    color: white; 
    padding: 10px 20px; 
    text-decoration: none; 
}

.social-link {
    text-decoration: none; /* Remove underline */
    display: inline-block; /* Prevents the space that inline elements might add */
}



.card  {
    
    margin-top: 30px;
    width: 70%;
    height: 100%;
    align-items: center;
   background-color: #8ACA2B;
   margin-left:20%;
}
.jumbotron{
background-color: #77734B;
margin-bottom: 10px;
}
h1,h2 {
    color: white;
}
#comm{
    margin-bottom: 0 ;
}



